extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug

block main
  .container-fluid.mt-4
    .d-flex.justify-content-between.align-items-center.mb-3
      h2.mb-0 Quản lý sản phẩm
      a.btn.btn-primary(href="/admin/products/create") + Thêm sản phẩm

    .card.shadow-sm
      .card-header Bộ lọc và tìm kiếm 
      .card-body
        +search(keyword)

        +filter-status(filterStatus)
        
    .card.shadow-sm
      .card-header Danh sách
        .card-body
          +form-change-multi(`${prefixAdmin}/products/change-multi-status?_method=PATCH`)
        .card-body
          table(
            class="table table-bordered table-hover table-striped"
            checkbox-multi
          )
            thead.thead-dark
              tr
                th 
                  input(type="checkbox" name="checkall")
                th STT
                th Hình ảnh
                th Tiêu đề
                th Giá
                th Vị trí
                th Trạng thái
                th Hành động
            tbody
              each product, index in products
                tr
                  td 
                    input(type="checkbox" name="id" value=product.id)
                  td #{index + 1}
                  td
                    img(src=product.thumbnail, alt=product.title, width="60", height="60", class="img-thumbnail")
                  td #{product.title}
                  td.text-danger.font-weight-bold #{product.price.toFixed(2)} $
                  td 
                    input(type=number value=product.position style="width:60px" min="1" name="position")
                  td
                    if product.status == "active"
                      span(
                        data-status=product.status
                        data-id=product.id
                        button-change-status
                        class="badge badge-success"
                      ) Hoạt động
                    else
                      span(
                        data-status=product.status
                        data-id=product.id
                        button-change-status
                        class="badge badge-danger"
                      ) Ngừng hoạt động
                  td
                    button.btn.btn-sm.btn-info(href=`/admin/products/${product._id}`) Xem
                    button.btn.btn-sm.btn-warning.ml-1(href=`/admin/products/${product._id}/edit`) Sửa
                    button.btn.btn-sm.btn-danger.ml-1(href=`/admin/products/${product._id}/delete` button-delete data-id=product.id) Xoá
  // PHÂN TRANG
  +pagination(pagination)

  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status`
   )

  form(
    action=""
    method="POST"
    id="form-delete"
    data-path=`${prefixAdmin}/products/delete`
   )

  script(src="/admin/js/product.js")