extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug


block main
  +alert-success("3000")
  .container-fluid.mt-4
    .d-flex.justify-content-between.align-items-center.mb-4
      h2.mb-0.text-primary Quản lý sản phẩm
      a.btn.btn-primary(href="/admin/products/create")
        i.fas.fa-plus-circle.mr-1
        | Thêm sản phẩm

    .card.shadow-sm.mb-4
      .card-header.font-weight-bold Bộ lọc & Tìm kiếm
      .card-body
        .row
          .col-md-4
            +search(keyword)
          .col-md-4
            +filter-status(filterStatus)
          .col-md-4
            +sort()
                                
    .card.shadow-sm
      .card-header.d-flex.justify-content-between.align-items-center
        span.font-weight-bold Danh sách sản phẩm
        +form-change-multi(`${prefixAdmin}/products/change-multi-status?_method=PATCH`)

      .card-body.p-0
        table.table.table-bordered.table-hover.table-striped.mb-0(checkbox-multi)
          thead.thead-dark
            tr.text-center
              th.w-1
                input(type="checkbox", name="checkall")
              th.w-5 STT
              th.w-10 Hình ảnh
              th Tiêu đề
              th.w-10 Giá
              th.w-10 Vị trí
              th.w-10 Trạng thái
              th.w-20 Hành động
          tbody
            each product, index in products
              tr
                td.text-center
                  input(type="checkbox", name="id", value=product.id)
                td.text-center #{index + 1}
                td.text-center
                  img(src=product.thumbnail, alt=product.title, width="60", height="60", class="img-thumbnail")
                td #{product.title}
                td.text-danger.font-weight-bold #{product.price.toFixed(2)} $
                td.text-center
                  input.form-control.form-control-sm(type="number", value=product.position, min="1", name="position", style="width:60px; margin:auto;")
                td.text-center
                  if product.status == "active"
                    span.badge.badge-success(
                      data-status=product.status,
                      data-id=product.id,
                      button-change-status
                    ) Hoạt động
                  else
                    span.badge.badge-danger(
                      data-status=product.status,
                      data-id=product.id,
                      button-change-status
                    ) Ngừng hoạt động
                td.text-center
                  a.btn.btn-sm.btn-info(href=`${prefixAdmin}/products/${product._id}`) Xem
                  a.btn.btn-sm.btn-warning.ml-1(href=`${prefixAdmin}/products/edit/${product._id}`) Sửa
                  button.btn.btn-sm.btn-danger.ml-1(button-delete data-id=product.id) Xoá

  +pagination(pagination)

  // Hidden forms
  form#form-change-status(method="POST", action="", data-path=`${prefixAdmin}/products/change-status`)
  form#form-delete(method="POST", action="", data-path=`${prefixAdmin}/products/delete`)

  script(src="/admin/js/product.js")
